body
{
    font-family: "source sans 3";
    margin: 0;
}
/* navigation */
nav {
    width: 90%;
    background-color:white;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    margin:auto;
}

#nav-icon {
    display: flex;
    flex:2;
    justify-content: end;
    align-items: center;
    gap: 20px;
    justify-self: end;
}

#nav-icon:hover {
    cursor: pointer;
}

.account {
    width: 32px;
    height:30px;
}

.cart {
    width:38px;
    height:38px;
    
}

#span-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: start;
}

#main-menu li{
    list-style:none;
}

.logo {
    justify-self: start;
}

#URBANVINYLS {
    color: #0C2D57;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 5px;
    font-family: "staatliches";
    background-color: transparent;
    border: none;

}

#main-menu button, #main-menu a {
    background-color: transparent;
    font-family: "khand";
    font-size: 16px;
    font-style:normal;
    color: #0C2D57;
    font-weight:bolder;
    border-width: 2px;
    border-color: #0C2D57;
    border-radius: 20px;
    text-decoration: none;
}

/* dropdown */
#main-menu .dropdown {
    background-color: white;
    color: #0C2D57;
    border-color: #0C2D57;
    border-width: 2px;
    border-style: solid;
    border-radius: 10%;
    margin: 0px;
    padding: 20px;
    position: absolute;
    display: none;
}

#main-menu .dropdown a {
    color: #0C2D57;
}

#main-menu .sub-menu :hover .dropdown {
    display: block;
}

/* mobile media */



li {
    list-style:none;
}

a, button {
    color: #0C2D57;
    transition: color .5s;
    text-decoration: none;
    font-size: 18px;
    font-family:"khand";
}

a:hover,button:hover {
    color: #0C2D57;
}

nav {
    width: 90%;
    background-color:white;
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    flex-wrap: wrap;
}

span.logo a {
    color: #0C2D57;
}

 button {
  background-color: transparent;
  font-family: "khand";
  font-size: 16px;
  font-style:normal;
  color: #0C2D57;
  font-weight:bolder;
  border-width: 2px;
  border-color: #0C2D57;
  border-radius: 20px;
  text-decoration: none;
 }

 #mobile-menu-button {
    border: transparent;
 }

 .display-flex {
    display: flex;
    gap: 40px;
 }

 .dropdown-menu {
  background-color: white;
  color: #0C2D57;
  border-color: transparent;
  margin: 0px;
  padding: 20px;
  position: absolute;
  display: none;
 }


 .dropdown-trigger:hover .dropdown-menu {
    display:block;
 }

 #mobile-menu-button {
    display: none;
 }


 @media (max-width:800px) {
    #mobile-menu-button {
        display:block; 
        order: 2;
    }
    .display-none-mobile{
        display:none;
   } 

   #span-menu {
    order: 2;
   }

   #main-menu {
     flex-direction: column;
     width: 100%;
   }

   .dropdown-menu {
     display: block;
     position: relative;
   }
 }

 
/* Search */

.search {
    font-family: "source sans 3";
    font-size: 20px;
    background-color: #D9D9D9;
    color: #028391;
    padding: 10% auto;
    gap: 50px;
    height: 40px;
    width: 48%;
    margin: 0 auto;
    align-items: center;
}

#Search {
    background-image: url(https://bigfudgevinyl.com/cdn/shop/articles/vinyl-record-collection_1024x1024.jpg?v=1680900035);
    background-repeat:no-repeat;
    background-size:cover;
    height: 500px; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.searchbox{
color:#028391;
font-family: "source sans 3";
padding: 15px;
height: 30px;
width:400px;
font-family: "source sans 3";
color:#028391;
font-size: 16px;

}

.searchbox::placeholder {
    color:#028391;
    font-family: "source sans 3";
    font-size: 16px;
    text-align: left;
    border:none;
}

#searchpic {
    opacity: 80%;
}



/* New Additions */
#new-additions {
    font-family: "staatliches";
    color: #FF8080;
    font-size: 18px;
    font-weight: 50;
    margin: 20px 10%;
}


/* Content Pics */

.contentpic {
    height: 280px;
    width: 280px;
    object-fit: cover;
    flex-wrap:wrap;
}

.contentpic:hover {
    cursor: pointer;
}

#new-additions div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}