body
{
    font-family: "source sans 3";
    margin: 0;
}
/* navigation */
nav {
    background-color:white;
    display: flex;
    justify-content: space-between;
    padding:5px 5%;
    justify-content: flex-start;
    align-items: baseline;
}

#main-menu {
    display: flex;
    gap: 30px;
}

#main-menu li{
    list-style:none;
}

.logo {
    color: #0C2D57;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 5px;
    font-family: "staatliches";
}

#main-menu button, #main-menu a {
    background-color: transparent;
    font-family: "khand";
    font-size: 16px;
    font-style: bold;
    color: #0C2D57;
    font-weight: bold;
    border-width: 2px;
    border-color: #0C2D57;
    border-radius: 20px;
    text-decoration: none;
}

/* dropdown */
#main-menu .dropdown {
    background-color: white;
    color: #0C2D57;
    border-color: #0C2D57;
    border-width: 2px;
    border-style: solid;
    border-radius: 10%;
    margin: 0px;
    padding: 20px;
    position: absolute;
    display: none;
}

#main-menu .dropdown a {
    color: #0C2D57;
}

#main-menu .sub-menu:hover .dropdown {
    display: block;
}

/* Search */

.search {
    font-family: "source sans 3";
    font-size: 20px;
    background-color: #D9D9D9;
    color: #028391;
    padding: 10% auto;
    gap: 50px;
    height: 40px;
    width: 48%;
    margin: 0 auto;
    align-items: center;
}

#Search {
    background-image: url(https://bigfudgevinyl.com/cdn/shop/articles/vinyl-record-collection_1024x1024.jpg?v=1680900035);
    background-repeat:no-repeat;
    background-size:cover;
    height: 500px; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.searchbox{
color:#028391;
font-family: "source sans 3";

}

.searchbox::placeholder {
    color:#028391;
    font-family: "source sans 3";
    border:none;
}



#searchpic {
    opacity: 80%;
}

.searchbox {
    height: 30px;
    width:400px;
    font-family: "source sans 3";
    color:#028391;
}

/* New Additions */
#new-additions {
    font-family: "staatliches";
    color: #FF8080;
    font-size: 18px;
    font-weight: 50;
    margin: 20px 10%;
}


/* Content Pics */

.contentpic {
    height: 280px;
    width: 280px;
    object-fit: cover;
    flex-wrap:wrap;
}

#new-additions div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}